<!-- slide show -->
<script type="text/javascript" src="javascripts/jquery.cycle.all.js"></script>
<script type="text/javascript" src="javascripts/jquery.easing.js"></script>
<script type="text/javascript">
$(function() {
    $('.slideshow1').cycle({
	cleartype: false,
    fx: 'scrollLeft', 
    random: 1
	});
});
</script>

<!--
<div class="slideshow">
	<img src="images/screenshots/welcome1.jpg" alt="{SystemName}: welcome1.jpg" title="{SystemName}: welcome1.jpg" />
	<img src="images/screenshots/welcome2.jpg" alt="{SystemName}: welcome2.jpg" title="{SystemName}: welcome2.jpg" />
	<img src="images/screenshots/welcome3.jpg" alt="{SystemName}: welcome3.jpg" title="{SystemName}: welcome3.jpg" />
	<img src="images/screenshots/welcome4.jpg" alt="{SystemName}: welcome4.jpg" title="{SystemName}: welcome4.jpg" />
</div>
<h2>{SystemName} &rarr; {HomeText}</h2>
<p class=textsize>{WelcomeToText} {SystemName}</p>
{IsAdminAuthenticatedBegin}
<p class=textsize>{PagesUpdateRequired}</p>
<p class=textsize>{SettingsUpdateRequired}</p>
{IsAdminAuthenticatedEnd}
<p class=textsize>{HomeTextWelcome}</p>
<p>{HomeTextTips}:
<a target="_blank" class='welcomescreen' href="welcomescreen/" alt="{TooltipsWelcomeScreen}" title="{TooltipsWelcomeScreen}">{WelcomeScreen}</a> |
<a target="_blank" class='world_map' href="world_map.html" alt="{TooltipsWorldMap}" title="{TooltipsWorldMap}">{TooltipsWorldMap}</a></p>
-->
<h2>{SystemName} &rarr; {HomeText}</h2> <!-- &rArr; -->
<div class="slideshow1">
<div id="slide01" class="slide">
	<img src="images/screenshots/welcome1.jpg" alt="test" />
	<div class="text">
	<p class=minitext>{WelcomeToText} {SystemName}</p>
		<h1>Virtual Reality Simulator<br />Web Interface</h1>
		<p>Powered by <a href="http://www.virtualrealitygrid.org">Virtual Reality</a></p>
	</div>
</div>

<div id="slide01" class="slide">
	<img src="images/screenshots/welcome2.jpg" alt="test" />
	<div class="text">
	<p class=minitext>{WelcomeToText} {SystemName}</p>

		<h1>Virtual Reality Simulator<br />Web Interface</h1>
	
<p class="minitext">{HomeTextWelcome}</p>
	</div>
</div>

<div id="slide01" class="slide">
	<img src="images/screenshots/welcome3.jpg" alt="test" />
	<div class="text">
	<p class=minitext>{WelcomeToText} {SystemName}</p>

		<h1>Virtual Reality Simulator<br />Web Interface</h1>
	<p>{HomeTextTips}: <a target="_blank" class='welcomescreen' href="welcomescreen/" alt="{TooltipsWelcomeScreen}" title="{TooltipsWelcomeScreen}">{WelcomeScreen}</a></p>
	</div>
</div>

<div id="slide01" class="slide">
	<img src="images/screenshots/welcome4.jpg" alt="test" />
	<div class="text">
	<p class=minitext>{WelcomeToText} {SystemName}</p>

		<h1>Virtual Reality Simulator<br />Web Interface</h1>
	<p>{HomeTextTips}: <a target="_blank" class='world_map' href="world_map.html" alt="{TooltipsWorldMap}" title="{TooltipsWorldMap}">{TooltipsWorldMap}</a></p>
	</div>
</div>
</div>